<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h1>Personas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.id}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.edad}"></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>